@tailwind components;

@layer components {
  .payment-brick-container > div {
    --form-background-color: transparent !important;

    & > div {
      padding: 0 !important;
      background: transparent !important;

      & > div {
        border: none !important;

        display: flex;
        flex-direction: column;
        gap: 8px;

        & > * {
          background-color: #e4e4e7 !important;
          border: none !important;
          border-radius: 6px;
        }
      }
    }
  }
}
